/* Universal Stuff */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  /* Navigation Bar Stuff */
  nav{
    height: 80px;
    width: 100%;
    background: #ffffff;
  }
  label.logo{
    position: relative;
    top: -5px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: rgb(216, 41, 36);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }

  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #ffffff;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  
/* Sections Stuff */
.about{
  background: black;
  box-sizing: border-box;
  height: 100vh;
}

.about p{
  color: white;
  padding: 35px
}

/* Stuff for Table Section */
.table{
  background: white;
  height: 100vh;
}

.table p{
  
}

/* Stuff for Contact Info Section */
.contact{
  background: red;
  height: 100vh;
}

.contact p{

}